<!DOCTYPE html>
<html lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="127.0.0.1:8000/assets/"
  data-template="vertical-menu-template"
>    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% include 'Layouts/Partials/styles.html.twig' %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                const __APP__ = {{ {
                    NAME: appName,
                    VERSION: appVersion,
                }|json_encode|raw }};
            </script>
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body>
        <div id="app"></div>
        {% block body %}{% endblock %}
    </body>
    {% include 'Layouts/Partials/scripts.html.twig' %}
</html>
