<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('index') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                const __APP__ = {{ {
                    NAME: appName,
                    VERSION: appVersion,
                }|json_encode|raw }};
            </script>
            {{ encore_entry_script_tags('index') }}
        {% endblock %}
    </head>
    <body>
        <div id="app"></div>
        {% block body %}{% endblock %}
    </body>
</html>
