<!DOCTYPE html>

<title>New Permissions</title>

{% block body %}
    <h1>Create new Permissions</h1>

    {{ include('admin/permissions/_form.html.twig') }}

    <a href="{{ path('app_admin_permissions_index') }}">back to list</a>
{% endblock %}
